body { 
padding: 30px;
background-color: antiquewhite;
}

blockquote {
	color:purple;
	font-size:16pt;
	font-family:"Times New Roman", Times, serif;
}

div {
	margin-left: 5px;
	font-size:12pt;
	font-family:Geneva, sans-serif;
}